<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
		<context:component-scan base-package="harry"/>
		
		<!-- 定义跳转的文件的前后缀 ，视图模式配置-->  
	    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
	        <property name="prefix" value="/WEB-INF/jsp/"/>
	        <property name="suffix" value=".jsp"/>  
	    </bean>
	    
	    <!-- 处理静态资源 方法一 属于同步请求     *本人更偏向这种  -->
	    <!-- ResourceHttpRequestHandler  -->
	    <mvc:resources location="/static/images/" mapping="/static/images/**"/>
	    <mvc:resources location="/static/css/" mapping="/static/css/**"/>
	    <mvc:resources location="/static/js/" mapping="/static/js/**"/>
	    <mvc:resources location="/static/fonts/" mapping="/static/fonts/**"/>
	    
	    <!-- RequestMappingHandlerMapping  -->
	    <mvc:annotation-driven/>
	    
	   	<!-- 处理静态资源 方法二  -->
	   <!-- <mvc:default-servlet-handler/> -->
</beans>